<div>
  <table>
    <tr>
      <th></th>
      <th>Method</th>
      <th>URL</th>
    </tr>
    <tr *ngFor="let apiRequest of apiRequests">
      <td>
        <input type="checkbox" [ngModel]="apiRequest.selected" (change)="selectRequest(apiRequest)">
      </td>
      <td>{{apiRequest.request.method}}</td>
      <td class="table-item-url">{{apiRequest.request.url}}</td>
      <td><button type="button" (click)="generateScript(apiRequest)" class="table-column-item-btn">Generate script</button></td>
    </tr>
  </table>

  <div class="buttons-container">
    <button type="button" (click)="generateSelectedScript()" [disabled]="!isAnyRequestSelected">Generate selected scripts</button>
    <button type="button" (click)="generateAllScript()">Generate all scripts</button>
  </div>
</div>
